.DS_Store

YoruGuide.xcodeproj/project.xcworkspace/xcuserdata/
YoruGuide.xcodeproj/project.xcworkspace/xcuserdata/*
YoruGuide.xcodeproj/project.xcworkspace/xcuserdata/jimbook.xcuserdatad/UserInterfaceState.xcuserstate

